.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  text-align: center;
  margin-top: 50px;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}